{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class="max-w-[400px] mx-auto mt-10">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex grow mt-4">
                <button type="submit" class="w-full group cursor-pointer inline-block rounded-sm bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring-3 focus:outline-hidden">
                    <span class="block rounded-xs bg-white px-8 py-3 text-sm font-medium group-hover:bg-transparent">Login</span>
                </button>
            </div>
        </form>
        <p class="text-sm text-gray-500 text-center mt-5">
            ¿No tienes cuenta? <a href="{% url 'register' %}" class="font-medium text-purple-600 hover:underline dark:text-purple-500">Registrate</a>
        </p>
    </div>
{% endblock content %}